# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "gomod" # See documentation for possible values
    directory: "/" # Location of package manifests
    schedule:
      interval: "weekly"
    allow:
      - dependency-type: "direct"
      - dependency-type: "indirect"
    groups:
      cloud-sdks:
        patterns:
          - "cloud.google.com/*"
          - "github.com/Azure/azure-sdk-for-go/*"
          - "github.com/Azure/go-autorest/*"
          - "github.com/aws/aws-sdk-go"
          - "github.com/aws/aws-sdk-go-v2"
          - "github.com/aws/aws-sdk-go-v2/*"
          - "github.com/digitalocean/*"
          - "github.com/minio/minio-go/*"
      golang:
        patterns:
          - "golang.org/x/*"
          - "google.golang.org/*"
      openapi:
        patterns:
          - "github.com/go-openapi/*"
  - package-ecosystem: "npm" # See documentation for possible values
    directory: "/frontend" # Location of package manifests
    schedule:
      interval: "weekly"
  - package-ecosystem: "npm" # See documentation for possible values
    directory: "/e2e" # Location of package manifests
    schedule:
      interval: "weekly"
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: "weekly"
