# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
/inventario

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# JetBrains IDE configuration
.idea

# Dependency directories (remove the comment below to include it)
/vendor/

# Dev files
/uploads/
/go/uploads/
/sample/
/.db
/bin/*
coverage

# Export files
/exports/

# Docker volumes and data
/.docker/
.env
docker-compose.override.yaml
ptah/integration/reports
test-reports
/ptah/lint/
