<!doctype html>
<html lang="cs">
<body>
<p>Dobrý den {{.Name}},</p>
<p>Pro přihlášení do Inventaria klikněte na následující odkaz:</p>
<p><a href="{{.URL}}">{{.URL}}</a></p>
<p>Platnost tohoto odkazu vyprší za 15 minut a lze jej použít pouze jednou.</p>
<p>Pokud jste o přihlášení nežádali, můžete tento e-mail bez obav ignorovat.</p>
</body>
</html>
