Dobrý den {{.Name}},

Pro přihlášení do Inventaria klikněte na následující odkaz:
{{.URL}}

Platnost tohoto odkazu vyprší za 15 minut a lze jej použít pouze jednou.

Pokud jste o přihlášení nežádali, můžete tento e-mail bez obav ignorovat.
