<!doctype html>
<html lang="cs">
<body>
<p>Dobrý den {{.Name}},</p>
<p>Obdrželi jsme žádost o obnovení vašeho hesla. Použijte tento odkaz:</p>
<p><a href="{{.URL}}">{{.URL}}</a></p>
<p>Pokud jste o to nežádali, nebyly provedeny žádné změny.</p>
</body>
</html>
