<!doctype html>
<html lang="ru">
<body>
<p>Здравствуйте, {{.Name}}!</p>
<p>Нажмите на ссылку ниже, чтобы войти в Inventario:</p>
<p><a href="{{.URL}}">{{.URL}}</a></p>
<p>Срок действия ссылки истекает через 15 минут, и её можно использовать только один раз.</p>
<p>Если вы не запрашивали вход, просто проигнорируйте это письмо.</p>
</body>
</html>
