Здравствуйте, {{.Name}}!

Спасибо за регистрацию. Пожалуйста, подтвердите свою учётную запись, открыв эту ссылку:
{{.URL}}

Если вы не создавали эту учётную запись, можете проигнорировать это сообщение.
