// Color variables
$primary-color: #4CAF50;
$primary-hover-color: #43a047;
$secondary-color: #2c3e50;
$secondary-hover-color: #1a242f; // color.adjust($secondary-color, $lightness: -10%);
$light-bg-color: #f8f9fa;
$light-hover-bg-color: #e9ecef;
$danger-color: #dc3545;
$danger-hover-color: #c82333;
$error-text-color: #721c24;
$error-color: #dc3545;
$border-color: #ddd;
$text-color: #333;
$text-secondary-color: #6c757d;
$box-shadow-color: rgb(0 0 0 / 10%);
$mask-background-color: rgb(0 0 0 / 50%);

// Layout variables
$container-max-width: 1200px;
$container-min-width: 800px;
$box-shadow: 0 2px 8px $box-shadow-color;
$default-radius: 4px;

// Effect variables
$mask-background-transition: 0.2s;
