<!doctype html>
<html lang="en">
<body>
<p>Hi {{.Name}},</p>
<p>Click the link below to sign in to Inventario:</p>
<p><a href="{{.URL}}">{{.URL}}</a></p>
<p>This link expires in 15 minutes and can only be used once.</p>
<p>If you did not request this, you can safely ignore this email.</p>
</body>
</html>
