<!doctype html>
<html lang="en">
<body>
<p>Hi {{.Name}},</p>
<p>Your password was changed on {{.ChangedAt}}.</p>
<p>If this wasn't you, reset your password immediately and contact support.</p>
</body>
</html>
