name: Frontend Test

on:
  push:
    branches:
      - master
  pull_request:

permissions:
  contents: read
  pull-requests: read

jobs:
  test:
    name: Test Frontend
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - id: vars
        uses: ./.github/actions/vars

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ steps.vars.outputs.node_version }}
          cache: 'npm'
          cache-dependency-path: frontend/package-lock.json

      - name: Install dependencies
        run: npm ci

      - name: Run frontend unit tests
        run: npm run test
