name: Go Test

on:
  push:
    branches:
      - master
  pull_request:

permissions:
  contents: read
  pull-requests: read

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      # Checkout code
      - name: Checkout code
        uses: actions/checkout@v6

      - id: vars
        uses: ./.github/actions/vars

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.26.0
          cache: true
          cache-dependency-path: go/go.sum

      - name: Install dependencies
        run: go mod download
        working-directory: go

      - name: Run tests
        run: go test -v -race ./...
        working-directory: go
